# Copy this file to .dev.vars and fill in the values to set up your development environment.
# See Readme for more information on how to set up the environment variables.
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/123456789012345678/abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890